@use "./../abstacts/_functions.scss" as *;

.footer {
  --margin-top: #{rem(120)};
  padding-top: #{rem(40)};
  padding-bottom: #{rem(50)};
  border-radius: 0 #{rem(100)} 0 0;
  color: var(--clr-neutral-100);

  a {
    color: var(--clr-neutral-100);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    text-align: center;
    gap: #{rem(32)};

    .logo {
      display: inline-block;
    }

    span {
      font-weight: var(--fw-600);
    }
  }

  &__list {
    li {
      --flow-spacer: #{rem(8)};
    }
  }
}
