$type-scale: (
    small: (
        400: 1rem,
        500: 1.5rem,
        600: 1.9rem,
        700: 2rem
    ),

    large: (
        400: 1rem,
        500: 1.5rem,
        600: 1.9rem,
        700: 3rem
    )
)