@use "./../abstacts/functions" as *;
@use "./../abstacts/mixins" as *;

.art {
  --margin-top: #{rem(190)};
  color: var(--clr-neutral-100);
  border-radius: 0 #{rem(100)} 0 #{rem(100)};
  background: linear-gradient(
    90deg,
    rgba(44, 45, 63, 1) 0%,
    rgba(63, 65, 100, 1) 100%
  );
  isolation: isolate;

  &__content {
    display: flex;
    padding-top: #{rem(150)};
    padding-bottom: #{rem(60)};
    padding-left: #{rem(30)};
    padding-right: #{rem(30)};

    @include mq(medium) {
      justify-content: flex-end;
      padding: #{rem(60)};
    }
  }

  &__description {
    width: 100%;
    text-align: center;

    h2 {
      font-size: var(--fs-600);
    }

    @include mq(medium) {
      width: 50%;
      text-align: start;
    }
  }

  &__image {
    position: absolute;
    top: -35%;
    min-width: #{rem(300)};
    left: 50%;
    transform: translateX(-50%);

    @include mq(medium) {
      max-width: 50%;
      top: -20%;
      transform: translateY(-10%);
      left: 0;
    }
  }

  &__bg-img {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0 #{rem(100)} 0 #{rem(100)};

    img {
      position: absolute;
      top: -25%;
    }
  }
}
